<div class="sidebar" data-color="red">
    <div class="sidebar-wrapper">
        <div class="logo">
          <%= link_to "Home", root_url, class: "simple-text" %>
        </div>
        <ul class="nav">
            <li>
                <a class="nav-link" href="dashboard.html">
                    <i class="now-ui-icons business_chart-pie-36"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="./user.html">
                    <i class="now-ui-icons users_circle-08"></i>
                    <p>User Profile</p>
                </a>
            </li>
            <li>
                <a class="nav-link" href="./notifications.html">
                    <i class="now-ui-icons ui-1_bell-53"></i>
                    <p>Notifications</p>
                </a>
            </li>
        </ul>
    </div>
</div>
