<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image" data-parallax="true" style="background-image: url('../assets/img/bg44.jpg') ;">
        </div>
        <div class="content-center">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">Tim's Blog</h2>
                    <a href="#button" class="btn btn-primary btn-round  btn-icon">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#button" class="btn btn-primary btn-round  btn-icon">
                        <i class="fa fa-instagram"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="main">
        <div class="blogs-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 ml-auto mr-auto">
                        <h2 class="title">Latest Blogposts</h2>
                        <br />
                        <div class="card card-plain card-blog">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card-image">
                                        <img class="img img-raised rounded" src="assets/img/examples/card-blog10.jpg" />
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <h3 class="card-title">
                                        <a href="#pablo">Rover raised $65 million for pet sitting</a>
                                    </h3>
                                    <p class="card-description">
                                        Finding temporary housing for your dog should be as easy as renting an Airbnb. That’s the idea behind Rover, which raised $65 million to expand its pet sitting and dog-walking businesses..
                                        <a href="#pablo"> Read More </a>
                                    </p>
                                    <div class="author">
                                        <img src="assets/img/olivia.jpg" alt="..." class="avatar img-raised">
                                        <span>Tim Pile</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card card-plain card-blog">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card-image">
                                        <a href="#pablo">
                                            <img class="img img-raised rounded" src="assets/img/examples/card-blog11.jpg" />
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <h3 class="card-title">
                                        <a href="#pablo">MateLabs mixes machine learning with IFTTT</a>
                                    </h3>
                                    <p class="card-description">
                                        If you’ve ever wanted to train a machine learning model and integrate it with IFTTT, you now can with a new offering from MateLabs. MateVerse, a platform where novices can spin out machine...
                                        <a href="#pablo"> Read More </a>
                                    </p>
                                    <div class="author">
                                        <img src="assets/img/james.jpg" alt="..." class="avatar img-raised">
                                        <span>John Mannes</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card card-plain card-blog">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card-image">
                                        <a href="#pablo">
                                            <img class="img img-raised rounded" src="assets/img/examples/card-blog12.jpg" />
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <h3 class="card-title">
                                        <a href="#pablo">US venture investment ticks up in Q2 2017</a>
                                    </h3>
                                    <p class="card-description">
                                        Venture investment in U.S. startups rose sequentially in the second quarter of 2017, boosted by large, late-stage financings and a few outsized early-stage rounds in tech and healthcare..
                                        <a href="#pablo"> Read More </a>
                                    </p>
                                    <div class="author">
                                        <img src="assets/img/michael.jpg" alt="..." class="avatar img-raised">
                                        <span>Devin Coldewey</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="subscribe-line subscribe-line-white">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="title">Get Tips &amp; Tricks every Week!</h4>
                        <p class="description">
                            Join our newsletter and get news in your inbox every week! We hate spam too, so no worries about this.
                        </p>
                    </div>
                    <div class="col-md-6">
                        <div class="card card-plain card-form-horizontal">
                            <div class="card-content">
                                <form method="" action="">
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="now-ui-icons ui-1_email-85"></i></span>
                                                </div>
                                                <input type="text" class="form-control" placeholder="Email Name...">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <button type="button" class="btn btn-primary btn-round btn-block">Subscribe</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%= render 'shared/footer' %>
</div>
